[client]
default-character-set=utf8mb4  # 设置mysql客户端默认字符集

[mysql]
default-character-set=utf8mb4

[mysqld]
user=mysql                     # MySQL启动用户
default-storage-engine=INNODB  # 创建新表时将使用的默认存储引擎
character-set-server=utf8mb4      # 设置mysql服务端默认字符集
max_connections=2000
max_allowed_packet = 32M
lower_case_table_names = 1

[mysqldump]
max_allowed_packet = 32M

